html {
  scroll-behavior: smooth;
}

.title-hover:hover h1, .title-hover svg, .title-hover:hover a{
    color: oklch(51.1% 0.262 276.966);
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.code-container {
  max-width: 90%;
  border-radius: 10%;
  margin-top: 20px;
}

  /* Container rounded untuk highlight.js */
  pre code.hljs {
    border-radius: 8px; /* Sesuaikan nilai radius sesuai keinginan */
    padding: 16px; /* Tambahkan padding untuk hasil terbaik */
  }